<div class="container-fluid banner-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <h1>Inovação, Expertise e <br> <span>Parceria.</span></h1>
                    <p>Na H7Px, transformamos ideias em realizações e desafios em conquistas, impulsionando o seu
                        negócio
                        para o ápice do sucesso.</p>

                       <a href="#contact">Entre em contato</a> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-img">
                    <img src="assets/photo-banner-hero.png" alt="empresário">
                </div>
            </div>
        </div>
    </div>
</div>