.banner-hero {
    background: linear-gradient(to right, #fff 68%, var(--bg-blue) 37%);
}

.content {
    margin-top: 100px;

    h1 {
        font-weight: bold;
    }

    span {
        color: var(--details)
    }
}

a {
    padding: 10px 8px;
    color: #fff;
    background-color: var(--bg-blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;

    &:hover {
        background-color: var(--details);
        border-color: none;
    }
}

.content-img {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 485px;
}





@media (max-width: 767px) {
    .banner-hero {
        background: #fff;
    }

    .content-img {
        display: none;
        // background-color: aqua;
    }

    .content {
        margin-top: 2em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 997px) {
    .content-img {
        width: 387px;
        height: 485px;
    }
}