<div class="container-fluid mt-5 footer">
    <div class="container rodape pt-3">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/logo-h7px.png" id="logo" alt="logo H7Px">
                <p class="mt-3">Somos Especialistas em impulsionar negócios com soluções personalizadas.</p>
            </div>
            <div class="col-md-2 col-sm-6 links">
                <p><strong>Nossos links</strong></p>
                <a href="#about-us" class="footer-link">Quem Somos?</a><br>
                <a href="#service" class="footer-link">Serviços</a><br>
                <a href="#contact" class="footer-link">Contato</a><br>
                <a routerLink="rastreamento" class="footer-link">Rastreamento</a>
            </div>
            <div class="col-md-2 col-sm-6 address">
                <p><strong>Endereço</strong></p>
                <p>Rua dos Catetos, 170 (13G) - Ribeirão Preto - SP.</p>
            </div>
            <div class="col-md-3 col-sm-12 contact">
                <p><strong>Contatos</strong></p>
                <a href="mailto:r7pxassessoria@hotmail.com">r7pxassessoria@hotmail.com</a><br>
                (16) 98125-5055<br>
                <div class="social mt-3">
                    <a href="https://www.instagram.com/grupoh7px/?igsh=NG5nYzNpZTM2NHht" target="_blank"><img src="assets/instagram.png" alt="instagram"></a>
                    <a href="https://api.whatsapp.com/send?phone=5516981255055" target="_blank"><img src="assets/whatsApp.png" alt="whatsApp"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="copyright mt-4">
                <p class="text-center">Copyright © 2024 Grupo H7Px Multiserviços - Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</div>